<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportApp"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".registration.RegistrationWindow"
            android:exported="true"
            android:theme="@style/Theme.SportApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registration.TypeSelectionWindow" />
        <activity android:name=".registration.BirthDateWindow" />
        <activity android:name=".trainings.AddTrainingWindow" />
        <activity android:name=".sportsman.ui.plans.EditPlanWindow" />
        <activity android:name=".sportsman.ui.exercise.AddExerciseWindow" />
        <activity android:name=".registration.AuthorizationWindow" />
        <activity android:name=".sportsman.ui.exercise.ExerciseWindow" />
        <activity android:name=".sportsman.ui.trainings.OneTraining" />
        <activity android:name=".sportsman.ui.trainings.CreateTraining" />
        <activity android:name=".sportsman.ui.events.TypeSelection" />
        <activity android:name=".sportsman.ui.trainings.FindTraining" />
        <activity android:name=".sportsman.ui.plans.OnePlan" />
<!--        <activity-->
<!--            android:name=".coach.MainActivity"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/Theme.SportApp.NoActionBar">-->
<!--        </activity>-->

        <activity
            android:name=".sportsman.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SportApp.NoActionBar">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>